header h1{
    border: 5px solid blueviolet;
    border-radius: 40px;
    background-color: #b224b3;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    border: 2px solid blueviolet;
}

q {
    font-style: italic;
}

.math-block {
    font-style: oblique;
    justify-content: center;
    color: red;
}