#grid-pagina a:visited, footer a:visited{
    color: var(--culoare1);
}

#grid-pagina a:active, footer a:active{
    border: 2px solid var(--culoare1);
}

a:-webkit-any-link:active {
    color: -webkit-link;
}

p a[href^="http"]::before{
    content: "⮳";
    font-size: 150%; 
    margin-right: 0.2em;
    transition: all 0.5s linear;
}
p a[href^="http"]:hover::before{
    color: var(--culoare2);
}

main a{
    display: inline-block;
    position:relative;
    background-image: radial-gradient( var(--culoare-inchisa) 0%, var(--culoare-inchisa) 40%, transparent 80%, transparent 100%);
    background-size: 0%;
    background-position: center;
    transition: background-size 1s linear;
}

main a:hover{
    background-size: 100% 100%;
}