        <header>
            <img src = "resurse/imagini/icon-titlu3.png" alt = "error" title="Carti"/>
            <h1>Bookshelf Boutique</h1>
        </header>
        <nav>
            <label id="hamburger" for="ch-menu">
                <!--<img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">-->
                <div class="container-hamburger">
                    <div class="linie-sus"></div>
                    <div class="linie-mijloc"></div>
                    <div class="linie-jos"></div>
                </div>
            </label>
            <input id="ch-menu" type="checkbox">
            <ul class="meniu">
                <li><div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fas fa-house"></span></div>
                    <ul>
                        <li><a href="/index#welcome">Bine ati venit</a></li>
                        <li><a href="/index#promotii">Promotii</a></li>
                        <li><a href="/index#intrebari">Intrebari</a></li>
                        <li><a href="/index#orar">Orar</a></li>
                        <li><a href="/index#users">Utilizatori</a></li>
                        <li><a href="/index#users_stats">Stats</a></li>
                        <li><a href="/index#anunturi">Anunturi</a></li>
                        <li><a href="/index#date">Date</a></li>
                    </ul>
                </li>
                <li><a class="meniu-sus" href="#">Contul meu</a></li>
                <li><a class="meniu-sus" href="#">Contact</a></li>
                <li><div>Produse</div>
                    <ul>
                        <!--<li><a href="http://www.google.com">Toate</a></li>-->
                        <li><a href="#">Carti</a></li>
                        <li><a href="#">Muzica</a></li>
                        <li><a href="#">Jocuri</a></li>
                        <li><a href="#">Accesorii</a></li>
                        <li><a href="#">Papetarie</a></li> 
                    </ul>
                </li>
            </ul>
         </nav>