body{
  --culoare1: #b224b3;
  --culoare2: pink;
  --culoare-inchisa: #881b88;
  --culoare-si-mai-inchisa: #661466;
  --culoare-text: black;
  --culoare-text-subliniat: white;

  --spatiere:100px;
  padding-left:var(--spatiere);
  padding-right:var(--spatiere);
  line-height: 1.5;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header h1{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    text-decoration: underline;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
}

footer {
    border: 2px solid var(--culoare-inchisa);
    box-shadow: 0px 5px 10px 5px var(--culoare-inchisa);
}

q {
    font-style: italic;
}

.math-block {
    font-style: oblique;
    justify-content: center;
    color: var(--culoare1);
}

.math-block mo{
  font-style: normal;
  text-decoration: solid;
  color: var(--culoare-text)
}

#link-top{
    position:fixed;
    bottom:0.3em;
    opacity:0.5;
    left:0.3em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:5px solid grey;
    border-bottom: 0;
    border-top: 0;
    border-radius:50%;
    /*background: rgb(220,220,220);*/
    background-color: #fff;
  }
  #link-top:hover{
    opacity:1;
  }
  #triunghi{
    height:0px;
    width:1px;
    display:inline-block;
    border-bottom:1.3rem solid grey;
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    vertical-align: top;
    /*transform: translateY(30%)rotate(90deg)scale(1,1);*/
    transform: translateY(30%);
    /*transition: border-bottom 0.5s linear, transform 0.5s linear;*/
    transition: all 0.5s linear;
  }

  #link-top:hover>#triunghi{
    border-bottom:1.3rem solid var(--culoare-inchisa);
    transform: translateY(-30%);
  }

  #tab-orar{
    width: 100%;
    border-collapse: collapse;
  }

  .container-tabel{
    width: 90%;
    border: 3px solid black;
    border-radius: 10px;
    overflow:hidden;
  }

 /* table, th, td {
    border: 1px var(--culoare-text);
}

th, td{
  padding: 4px;
}*/

  .tabel-scroll{
    overflow-x: auto;
    max-width: 800px;
  }

  #tab-orar th, #tab-orar td{
    border: 1px solid black;
  }


  #Descriere{
    caption-side: bottom; 
    text-align: center; 
    font-weight: bold;
    padding: 10px 0;
}

  #tab-orar col:nth-child(2n){
    background-color: var(--culoare2);
  }

  #tab-orar tr{
    transition: all 1s ease;
  }

  #tab-orar td{
    transition: all 1s ease;
  }

  #tab-orar tr:hover{
    background-color: var(--culoare1);
  }

  #tab-orar td:hover, #tab-orar th:hover{
    background-color: var(--culoare-inchisa);
  }

  .container-iframe{
    display:flex;
    /*border: 5px solid var(--culoare1);*/
    flex-direction: column-reverse;
    /*flex-direction: column-reverse;*/
    width: fit-content;
    height: fit-content;
    
  }

  #video{
    border: 5px solid var(--culoare1);
    height: auto;
    width: 100%;
  }

  .container-iframe iframe{
    width: 100%;
    
  }

  .taburi-iframe{
    display:flex;
    flex-direction:row;
    opacity: 0.7;
    width: 25%;
  }

  .taburi-iframe>a{
    display:block;
    border: 2px solid var(--culoare-inchisa);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    height: 1em;
    color: var(--culoare1);
    margin: 0.4em;
    margin-top: 0;
    padding: 0.6em;
    background-color: var(--culoare2);
    text-decoration: none;
    transition: all 0.75s linear;
  }

  .taburi-iframe>#reading_guide:hover{
    opacity: 1;
    background-color: white;
    transition-duration: 1.5s;
  }

  .taburi-iframe>#interview:hover{
    opacity: 1;
    background-color: white;
    transition-duration: 1.5s;
  }

  figure{
    display: block;
  }

  /*.taburi-iframe:hover>#interview{
    opacity: 1;
    background-color: white;
    transition-duration: 1.5s;
  }*/

