#hamburger, #ch-meniu{
    display: none;
}

#acasa-mediu{
    display: none;
}

.meniu{
    display: flex;
}

.meniu, .meniu ul{
    list-style-type: none;
    background-color: blueviolet;
}

.meniu li{
    border:1px solid green;
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    text-align: center;
}

.meniu li div, .meniu li a{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: var(--inaltime-meniu);
    text-decoration: none;
    box-sizing: border-box;
    transition: all 1s linear;
}

.meniu li:hover div, .meniu li:hover a{
    background-color: brown;
    color: bisque;
}

.meniu li:hover>ul{
    display: block;
    position: absolute;
    z-index: 100;
}

/*submeniu*/
.meniu ul{
    display: none;
}

nav{
    --inaltime-meniu:2.5em;
    --latime-buton:150px;
    height: var(--inaltime-meniu);
    background-color: blueviolet;
}